$serif: 'Baskerville', 'Baskerville old face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$sans: 'Futura', 'Trebuchet MS', Arial, sans-serif;
$decorative: 'Impact', 'Futura', 'Trebuchet MS', Arial, sans-serif;

$attention: #000;
$lighter: #868888;
$highlight: #6d6e6e;
$base-color: #3a3b3b;
$white: #fefefe;

$link-color: #535555;
$visited-link: #646666;
