@import 'compass';
// @import "compass/typography/lists/horizontal-list";
// @import "compass/typography/lists/inline-block-list";
// @import "compass/typography/lists/inline-list";

$serif: 'Baskerville', 'Baskerville old face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$sans: 'Futura', 'Trebuchet MS', Arial, sans-serif;
$decorative: 'Impact', 'Futura', 'Trebuchet MS', Arial, sans-serif;
$monospace: Inconsolata, 'Courier New', monospace;

$attention: #000;
$lighter: #868888;
$highlight: #6d6e6e;
$base-color: #3a3b3b;
$white: #fefefe;

$link-color: #535555;
$visited-link: #646666;
