@import 'compass';
@import 'base';
/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/

/* 1. RESET
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* 2. ROOT
----------------------------------------------------------------------------------------*/

html {
  overflow-y: scroll;
  background: $white; }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */

img, embed, object, video {
  max-width: 100%; }

.ie6 {
  img.full, object.full, embed, video {
    width: 100%; } }

/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/

body {
  font-family: $serif;
  font-size: 1em;
  line-height: 1.618em;
  color: $base-color; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  font-family: $sans; }

p, ul, ol, dl, blockquote {
  font-size: 1em;
  line-height: 1.618em;
  margin-bottom: 1.618em;
  max-width: 30em;
  /* Optimal width for long-form text */ }

ul {
  // list-style-type: disc;
  list-style-type: none;
  margin-left: 1.618em; }

ol {
  // list-style-type: decimal;
  list-style-type: none;
  margin-left: 1.618em; }

nav {
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0; } }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

small {
  font-size: 80%; }

/* 4. LINKS
----------------------------------------------------------------------------------------*/

a {
  outline: none;
  // color: #439BBD;
  color: $link-color;
  text-decoration: underline;
  &:visited {
    outline: none;
    color: $visited-link;
    // color: #439BBD;
    text-decoration: underline; }
  &:hover {
    outline: none;
    text-decoration: none; }
  &:active, &:focus {
    outline: none; } }

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/

#container {
  padding: 0.809em;
  max-width: 30em;
  margin: auto; }

aside {
  width: 100%; }

/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

.cf {
  &:before {
    content: "";
    display: block; }
  &:after {
    content: "";
    display: block;
    clear: both; } }

.ie6 .cf {
  zoom: 1; }


/* MY ADDITIONS
----------------------------------------------------------------------------------------*/

header {
  font-family: $decorative;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $highlight;
  p {
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 0;}

  h1 {
    font-size: 2.2em;
    font-family: $decorative;
    margin-bottom: 0.1em;
    color: $attention;
  }
  a {
    text-decoration: none;
  }
}

footer {
  padding-top: 1em;
  margin: 0 auto;
  border-top: solid 1px $highlight;
  clear: both;
}

.homepage {
  margin-top: 1em;
  border-bottom: 1px solid $lighter;

  h2 {
    text-align: center;
  }

  a {
    display: block;
    text-decoration: none;
  }

  ul {
    text-align: center;
    margin-left: 0;
    li {
      margin: 0;
    }
  }

}

.centered {
  text-align: center; }
