- content_for :head do
  title Charlie Tanksley

header.splash
  p.lead-in Hi.  I'm<a name='top'></a>
  h1 Charlie Tanksley.
  p.remainder Much like Socrates, I'm something of a Spartain hound.<a href='#explanation'>*</a>

section.column.homepage
  h2 Philosophy
  ul
    li <a href='/pdfs/CV.pdf'>CV</a>
    li <a href='/pdfs/teaching-portfolio.pdf'>Teaching Portfolio</a>
    li <a href='/logic.html'>Logic</a>

section.column.homepage
  h2 Technology
  ul
    li <a href='http://www.github.com/charlietanksley'>github/charlietanksley</a>
    li <a href='/latex-guide.html'>Guide to LaTeX</a>
    li <a href='http://www.charlietanksley.net/philtex'>PhilTeX</a>

section.column.homepage
  a name='connect'
  h2 Contact
  ul
    li <a href='mailto:charlie.tanksley@gmail.com'>charlie.tanksley@gmail.com</a>
    li <a href='http://www.twitter.com/charlietanksley'>@charlietanksley</a>

- content_for :footer do
  .footnote
    a name='explanation'
    p * On the chance that you've forgotten your <i>Parmenides</i>, I'll remind you of what Zeno says to Socrates at 128c:
    blockquote.parmenides
      ' "Still, you haven't completely discerned the truth about my book, even though you chase down its arguments and follow their spoor as keenly as a young Spartan hound."
    p Things don't end so well for Socrates in the <i>Parmenides</i> (or in life), and Zeno is paying him something of a backhanded complement here.  But I like it nonetheless.  Socrates <i>is</i> relentless in the pursuit of truth, even when he must know his view is about to be decimated (or he is to be put to death, as in the <i>Apology</i>).  I'm like that.  Or at least I try to be.
    p.centered
      a href='#top' Return to top
